footer{
    position: relative;
    z-index: 1;
    .f-bg{
        background-image: url(@/assets/img/footer-bg.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        }

        .f-btn{
        color: $light;
        font-weight: bold;
        border: 3px solid $primary;
        &:hover{
            color: $shadow-gray;
            border: 3px solid $shadow-blue;
            box-shadow: 0 0 3px $light;
        }
    }
    li{
        list-style: none; 
        color: gray;
        &:hover{
            color: $light;
            cursor: pointer;
            }
        }
    h4{font-weight: bold;}
    .dc-bg{
        img{
        width: 600px;
        position: absolute;
        transform: translate(0, -145px);
        }
    }
    .contact{
        position: relative;
        z-index: 1;
        background-color: $bg-contact;
        width: 100%;

        .follow-us a{
            color: $primary;
            &:hover{
                color: $shadow-blue;
            }
        }

        .col-9{height: 100px;
            .social{
                position: relative;
                img{
                    width: 22px;
                    &:hover{
                        text-shadow: 0 0 2px $light;
                    }
                    }
                a{padding: 0 5px;}
            }
        }
    }
}